<a href="https://colab.research.google.com/github/Abhilash-K-R/skill_lab/blob/main/01_day_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

comments in python

In [ ]:
# this is how we define a single line comment in python
'''we are attending the python class
this is the multiline comment by useing  '''

print("Hello world")

variables and python

In [ ]:
#variables in python
x = 5
y = 'abhi'
print(x)
print(y)

#dynamic futuere
x= 4
print(x)

# check the types of the variable
print(type(x))
print(type(y))

# Multi assignment of values
x,y,z = "orange","apple","banana"
print(x)
print(y)
print(z)

#assigning one values to multi variable
x=y=z = "orange"
print(x)
print(y)
print(z)

#lists
#unpacking of collection
fruits=["apple","banana","cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

#global variables
x = "amazing"

def myfunc():
  x = "super"
  print("python is "+x)

myfunc()
print("python is "+x)

5
abhi
4
<class 'int'>
<class 'str'>
orange
apple
banana
orange
orange
orange
apple
banana
cherry
python is super
python is amazing

* data types in python

In [ ]:
# intiger
x = 5
print(type(x))

# string
x = "hello siet"
print(type(x))

# float
x = 20.5
print(type(x))

# list
x = ["apple","banana","cherry"]
print(type(x))

# tuple
x = ("apple","banana","cherry")
print(type(x))

# dictionary
x={"name":"abhilash","age":24,"phone":"1234567890"}
print(type(x))

# boolean
x=True
print(type(x))

# set
x={"apple","banana","chery"}
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'set'>

 * type Conversion

In [ ]:
#type conversion : conversion of one data type to

# int to str
a = str(1)
print(type(a))

# int to float
b = 10
print(type(float(b)))
print(float(b))

# float to int
y = 2.8
print(int(y))

y = int(2.8)
print(y)

<class 'str'>
<class 'float'>
10.0
2
2

* random integer number

In [ ]:
import random

random_int = random.randint(1, 100)  # Random integer between 1 and 10
print(random_int)

58

In [ ]:
import random

# Generate 10 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]

print(random_numbers)

[38, 2, 86, 48, 68, 57, 27, 16, 33, 56]

* guess a number from 1` to 10 user input
match the entered number with guess number random number generated 1 to 10
if match the guess number print congratulations
else better luck next time

In [ ]:
import random

# Generate a random number between 1 and 10
random_number = random.randint(1, 10)

print("Guess the number between 1 and 10. You have 10 attempts.")

# Loop up to 10 times
for attempt in range(1, 11):  # Loop from 1 to 10 (inclusive)
    try:
        # Prompt the user to enter their guess
        user_guess = int(input(f"Attempt {attempt}: Enter your guess: "))

        # Check if the user's guess is within the valid range
        if 1 <= user_guess <= 10:
            # Compare the user's guess with the random number
            if user_guess == random_number:
                print("Congratulations! You guessed the right number!")
                break  # Exit the loop if the guess is correct
            else:
                if attempt < 10:
                    print(f"Wrong guess. You have {10 - attempt} attempts left.")
                else:
                    print(f"Better luck next time. The correct number was {random_number}.")
        else:
            print("Please enter a number between 1 and 10.")
    except ValueError:
        print("Invalid input. Please enter a number.")

Guess the number between 1 and 10. You have 10 attempts.
Attempt 1: Enter your guess: 1
Wrong guess. You have 9 attempts left.
Attempt 2: Enter your guess: 2
Wrong guess. You have 8 attempts left.
Attempt 3: Enter your guess: 3
Wrong guess. You have 7 attempts left.
Attempt 4: Enter your guess: 4
Wrong guess. You have 6 attempts left.
Attempt 5: Enter your guess: 5
Wrong guess. You have 5 attempts left.
Attempt 6: Enter your guess: 6
Wrong guess. You have 4 attempts left.
Attempt 7: Enter your guess: 7
Congratulations! You guessed the right number!

* airthmetic operator
* assignment operator
* comparision operator
* logical operators
* identity operators
* membership operators
* bitwise operators

In [ ]:
# airthmetic operators
'''
a+b
a-b
a*b
a/b
a//b
a%b
a**b
'''
# assignment operator
'''
a=b
a+=3
a-=3
a*=3
a/=3
a%=3
a//=3
a**=3
'''
# comperision operators
'''
x==y
x != y
x > y
x < y
x >= y
x <= y
'''
# logical operators
'''
x < 5 and x < 10
x < 5 or x < 4
not(x < 5 and x < 10)
'''
# membership opertors
'''
in
not in
'''
#

* Check the Greater number

In [ ]:
# conditional operators
a=33
b=200
if a>b:
  print(" a is Greatter than b .")
elif a<b:
  print(" b is Greaterthan a")
else:
  print(" a is equal to b ")

 b is Greaterthan a

* Check eligiability of Voting

In [ ]:
x=int(input("\nEnter your age : "))
if x>=18:
  print("Your eligiable to vote .")
else:
  print(f"hoooo! Sorry baby!! Your Not Eligiable to Vote . \n 1wait for another {18-x } years")

Enter your age : 12
hoooo! Sorry baby!! Your Not Eligiable to Vote .
 wait for another 6 years

* break

In [ ]:
# while loops : in a while loop we can run or exicute a set of ststements as long as the condition is true
i=0
while i<600000:
  print(i)
  if i>=10:
    break
  i+=2

0
2
4
6
8
10

* continue

In [ ]:
# while loops : in a while loop we can run or exicute a set of ststements as long as the condition is true
i=0
while i<6:
  i+=1

  if i==3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
# for loop : it is a loop which is used for iteration or iterating over a sequence(list,tuple,dict etc....)
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

for x in "abhi":
  print(x)
  print()

for x in range(6):
  print(x)
  print()

apple
banana
cherry
a

b

h

i

0

1

2

3

4

5

* nested for loop

In [ ]:
adj=["red","blue","pink"]
fruits=["apple","banana","cherry"]
teast=["sweat","bad","good"]
for x in adj:
  for y in fruits:
    for z in teast:
      print(x,y,z)

red apple sweat
red apple bad
red apple good
red banana sweat
red banana bad
red banana good
red cherry sweat
red cherry bad
red cherry good
blue apple sweat
blue apple bad
blue apple good
blue banana sweat
blue banana bad
blue banana good
blue cherry sweat
blue cherry bad
blue cherry good
pink apple sweat
pink apple bad
pink apple good
pink banana sweat
pink banana bad
pink banana good
pink cherry sweat
pink cherry bad
pink cherry good

In [ ]:
adj=[1,0]
fruits=[1,0]
teast=[1,0]
for x in adj:
  for y in fruits:
    for z in teast:
      print(x,y,z)

1 1 1
1 1 0
1 0 1
1 0 0
0 1 1
0 1 0
0 0 1
0 0 0