<a href="https://colab.research.google.com/github/Abhilash-K-R/skill_lab/blob/main/Copy_of_02day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# string index

In [ ]:
a="abhilash"
print(a[1])

b

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
print(len(a))

8

In [ ]:
text = "the best thing in life are free\n"
print("free"in text)

True

In [ ]:
text = "the best thing in life are free\n"
print("expensive"in text)

False

In [ ]:
text = "the best thing in life are free\n"
print("free" not in text)

False

In [ ]:
text = "the best thing in life are free\n"
print("expensive" not in text)

True

In [ ]:
# string slicing
# start : stop : step

In [ ]:
a = "abhilash"
print(a[2:5])

hil

In [ ]:
print(a[:])

abhilash

In [ ]:
print(a[4:])

lash

In [ ]:
print(a[:4])

abhi

In [ ]:
print(a[::3])

ais

In [ ]:
print(a[::2])

ahls

In [ ]:
a="abhilash"
print(a[1:4])
print(a[-4:-1])

bhi
las

In [ ]:
#

In [ ]:
print(a.lower())

abhilash

In [ ]:
print(a.upper())

ABHILASH

In [ ]:
a="abhiLash is student"
print(a.strip())

abhiLash is student

In [ ]:
a = "abhilash"
print(a.replace("a","A"))

AbhilAsh

In [ ]:
a="abhilash , yaaaaaa, haaaaa"
print(a.split(","))

['abhilash ', ' yaaaaaa', ' haaaaa']

In [ ]:
a="abhilash , yaaaaaa, haaaaa","aaa , aaaa ,aa  "
print(a[1].split(","))

['aaa ', ' aaaa ', 'aa  ']

In [ ]:
# String Methods
"""
Method  Description

capitalize()    Converts the first character to upper case
casefold()  Converts string into lower case
center()    Returns a centered string
count() Returns the number of times a specified value occurs in a string
encode()    Returns an encoded version of the string
endswith()  Returns true if the string ends with the specified value
expandtabs()    Sets the tab size of the string
find()  Searches the string for a specified value and returns the position of where it was found
format()    Formats specified values in a string
format_map()    Formats specified values in a string
index() Searches the string for a specified value and returns the position of where it was found
isalnum()   Returns True if all characters in the string are alphanumeric
isalpha()   Returns True if all characters in the string are in the alphabet
isascii()   Returns True if all characters in the string are ascii characters
isdecimal() Returns True if all characters in the string are decimals
isdigit()   Returns True if all characters in the string are digits
isidentifier()  Returns True if the string is an identifier
islower()   Returns True if all characters in the string are lower case
isnumeric() Returns True if all characters in the string are numeric
isprintable()   Returns True if all characters in the string are printable
isspace()   Returns True if all characters in the string are whitespaces
istitle()   Returns True if the string follows the rules of a title
isupper()   Returns True if all characters in the string are upper case
join()  Joins the elements of an iterable to the end of the string
ljust() Returns a left justified version of the string
lower() Converts a string into lower case
lstrip()    Returns a left trim version of the string
maketrans() Returns a translation table to be used in translations
partition() Returns a tuple where the string is parted into three parts
replace()   Returns a string where a specified value is replaced with a specified value
rfind() Searches the string for a specified value and returns the last position of where it was found
rindex()    Searches the string for a specified value and returns the last position of where it was found
rjust() Returns a right justified version of the string
rpartition()    Returns a tuple where the string is parted into three parts
rsplit()    Splits the string at the specified separator, and returns a list
rstrip()    Returns a right trim version of the string
split() Splits the string at the specified separator, and returns a list
splitlines()    Splits the string at line breaks and returns a list
startswith()    Returns true if the string starts with the specified value
strip() Returns a trimmed version of the string
swapcase()  Swaps cases, lower case becomes upper case and vice versa
title() Converts the first character of each word to upper case
translate() Returns a translated string
upper() Converts a string into upper case
zfill() Fills the string with a specified number of 0 values at the beginning"""

'\nMethod  Description\n\ncapitalize()    Converts the first character to upper case\ncasefold()  Converts string into lower case\ncenter()    Returns a centered string\ncount() Returns the number of times a specified value occurs in a string\nencode()    Returns an encoded version of the string\nendswith()  Returns true if the string ends with the specified value\nexpandtabs()    Sets the tab size of the string\nfind()  Searches the string for a specified value and returns the position of where it was found\nformat()    Formats specified values in a string\nformat_map()    Formats specified values in a string\nindex() Searches the string for a specified value and returns the position of where it was found\nisalnum()   Returns True if all characters in the string are alphanumeric\nisalpha()   Returns True if all characters in the string are in the alphabet\nisascii()   Returns True if all characters in the string are ascii characters\nisdecimal() Returns True if all characters in the string are decimals\nisdigit()   Returns True if all characters in the string are digits\nisidentifier()  Returns True if the string is an identifier\nislower()   Returns True if all characters in the string are lower case\nisnumeric() Returns True if all characters in the string are numeric\nisprintable()   Returns True if all characters in the string are printable\nisspace()   Returns True if all characters in the string are whitespaces\nistitle()   Returns True if the string follows the rules of a title\nisupper()   Returns True if all characters in the string are upper case\njoin()  Joins the elements of an iterable to the end of the string\nljust() Returns a left justified version of the string\nlower() Converts a string into lower case\nlstrip()    Returns a left trim version of the string\nmaketrans() Returns a translation table to be used in translations\npartition() Returns a tuple where the string is parted into three parts\nreplace()   Returns a string where a specified value is replaced with a specified value\nrfind() Searches the string for a specified value and returns the last position of where it was found\nrindex()    Searches the string for a specified value and returns the last position of where it was found\nrjust() Returns a right justified version of the string\nrpartition()    Returns a tuple where the string is parted into three parts\nrsplit()    Splits the string at the specified separator, and returns a list\nrstrip()    Returns a right trim version of the string\nsplit() Splits the string at the specified separator, and returns a list\nsplitlines()    Splits the string at line breaks and returns a list\nstartswith()    Returns true if the string starts with the specified value\nstrip() Returns a trimmed version of the string\nswapcase()  Swaps cases, lower case becomes upper case and vice versa\ntitle() Converts the first character of each word to upper case\ntranslate() Returns a translated string\nupper() Converts a string into upper case\nzfill() Fills the string with a specified number of 0 values at the beginning'

In [ ]:
# define a function

# parameter :- parameter is a variable listed inside the paranthesis when a particular function is define
# argument:- argument is a value that is sent to the function
'''def function(parameter)
      print(parameter+"input")
  function(argument)
'''

'def function(parameter)\n      print(parameter+"input")\n  function(argument)\n'

In [ ]:

def function():
  print ("lakalaka is good boy")
function()

lakalaka is good boy

In [ ]:
def abhi():
  print("Hello  Abhilash K R ")
  print("how are  you ?")
abhi()

Hello  Abhilash K R
how are  you ?

In [ ]:
def my_fun(fname):   # 'fname' is a parameter
  print(fname + " pm")
my_fun("abhilash") # 'abhilash' is a argument
my_fun("abhi")
my_fun("abhishek")

abhilash pm
abhi pm
abhishek pm

In [ ]:
# with Two parameters
def my_fun(fname,lname):   # 'fname'&'lname' is a parameter
  print(fname +" "+ lname)
my_fun("abhilash","K R") # 'abhilash'&'K R' is a argument
my_fun("abhi","K R")
my_fun("abhishek","K R")

abhilash K R
abhi K R
abhishek K R

In [ ]:
# arbitary arguments :- if you don't know how many arguments passed onto your function, add a '*' before the parameter
def my_func(*kids):
  print("the youngest child is "+ kids[0])
my_func("anjanadri","rohan","rahul")

the youngest child is anjanadri

In [ ]:
# keyword arguments
def myfunc(student1,student2,student3):
  print("the youngest student "+student3)
myfunc("anjanadri","rahul","hanumesh")

the youngest student hanumesh

In [ ]:
# defult parameters
def mycoun(country="india"):
  print("i am from "+country)
mycoun("swedan")
mycoun("USA")
mycoun()
mycoun("Russia")

i am from swedan
i am from USA
i am from india
i am from Russia

In [ ]:
# table of 5
def table(x):
  return 5*x
print(table(1))
print(table(2))
print(table(3))
print(table(4))
print(table(5))

5
10
15
20
25

In [ ]:
# pass:- when a pass statement with a particular function don't have any value inside it that we called pass statement
'''
def a():
  pass
  '''
# factorial
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1) # make recursion (run again and again)
factorial(4)

24

In [ ]:
number = int(input("Enter a positive integer : "))
if number

In [ ]:
# fibonacci seriess
    # one of the most impartant in interview
def fib(n):
  if n<=1:
    return n
  else:
    return fib(n-1)+fib(n-2)

term = int(input("enter the number of term: "))

if term <= 0:
  print("enter a positive integer! ")
else:
  print("fibonacci series ")
  for i in range(term):
    print(fib(i))

enter the number of term: 30
fibonacci series
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229

In [ ]:
# DSA :- data structure and algorithms
# Data Structure :- it is the way of organising the data in the reg and most eificient format
# ex:linked list,array,tree
# Algorithms :- step by step input to where a particular problem\

In [ ]:
# intro to data structure and algorithms

# list : it is a built in data structure to store multiple values in single variable
'''
features of a list
>>> its mutable
>>> its ordered
>>> its allows duplicate values[1,2,3,4,5,6,7,5,4,2]

'''

lista = ["apple","banana","cherry"]
print(lista)

['apple', 'banana', 'cherry']

In [ ]:
# length of particular list
print(len(lista))

3

In [ ]:
# access a list indexes
print(lista[0])

apple

In [ ]:
# accessing nagitive indexes
print(lista[-1])

cherry

In [ ]:
# checking the particular value in the list or not
# in
if "apple" in lista:
  print("yes apple is there in this List")

print("apple" in lista)

yes apple is there in this List
True

In [ ]:
# not in
lista = ["apple","banana","cherry"]
'''if "apple" not in lista:
  print("apple is not in this list ")'''
print("apple" not in lista)

False

In [ ]:
# changing the value in the list using index number
lista[1] = "mango"
print(lista)

['apple', 'mango', 'cherry']

In [ ]:
# .insert() method
# variable.insert(index_position,"value")

lista = ["apple","banana","cherry"]
lista.insert(3,"watermillon")
print(lista)

['apple', 'banana', 'cherry', 'watermillon']

In [ ]:
# appending new values in the list using .append() method
# variable,append("value")

lista.append("orange")
print(lista)

['apple', 'banana', 'cherry', 'watermillon', 'orange']

In [ ]:
# removing the values in the list .remove() method
# var.remove("value")

lista=['apple', 'banana', 'cherry', 'watermillon', 'orange']
lista.remove("orange")
print(lista)

['apple', 'banana', 'cherry', 'watermillon']

In [ ]:
# adding the itoms in the list to another list by using .extend() method
# list1_var_name.extend(list_to_add_name)

lista=['apple', 'banana', 'cherry', 'watermillon', 'orange']
list=["ball","bat","rat"]
lista.extend(list)
print(lista)

['apple', 'banana', 'cherry', 'watermillon', 'orange', 'ball', 'bat', 'rat']

In [ ]:
# remove elements from the list by using .pop() method
# var_name.pop(removing_index)

lista.pop(1)
print(lista)

['apple', 'cherry', 'watermillon', 'orange', 'ball', 'bat', 'rat']

In [ ]:
# deleting the elements in a list
# del list_name[index_to_delete]

del lista[1]
print(lista)

['apple', 'orange', 'ball', 'bat', 'rat']

In [ ]:
# deleting entire list
# del list_name

del lista
print(lista)

NameError: name 'lista' is not defined

In [ ]:
# clearing all elements in the list  by using clear() method
# list_name.clear()

list=['apple', 'orange', 'ball', 'bat', 'rat']
list.clear()
print(list)

[]

In [ ]:
# looping the list

listb=['apple', 'orange', 'ball', 'bat', 'rat']
for i in listb:
  print(i)

apple
orange
ball
bat
rat

In [ ]:
# looping the list with strings

for i in range(len(listb)):
  print(listb[i])

apple
orange
ball
bat
rat

In [ ]:
#

i=0
while i< len(listb):
  print(listb[i])
  i+=1

apple
orange
ball
bat
rat

In [ ]:
# linked list